.u-section-1 .u-sheet-1 {
  min-height: 480px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 480px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 330px;
  height: 330px;
  background-image: url("images/giphy.gif");
  background-position: 50% 50%;
  margin: 0 auto 0 9px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 480px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 86px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px -20px 0 20px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  animation-duration: 1000ms;
  margin: -41px auto 0 278px;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 16px auto 0 20px;
  padding: 8px 36px 9px 35px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 396px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 300px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 396px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 303px;
  }

  .u-section-1 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 593px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 373px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 256px;
  }
}